fastapi
uvicorn
python-dotenv
PyPDF2
Jinja2
python-multipart
yfinance
pandas
numpy
google-generativeai
pytesseract
Pillow
fitz
reportlab
sentence-transformers
neo4j
groq
requests
pdfkit
Markdown
matplotlib
seaborn
wordcloud
prophet
weasyprint
plotly
frontend
tools